section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #1DBEB4;
  margin-bottom: 100px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label{
  font-weight: 500;
  color: #383B58;
  text-align: start;
  margin-bottom: 8px;
}

label.password {
  margin-top: 16px;
}

input {
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  height: 40px;
  width: 300px;
}

button.login-button {
  font-weight: bold;
  color: #ffffff;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background: #1DBEB4;
  margin-top: 48px;
  cursor: pointer;
}

p.register-anchor {
  margin-top: 7px;
  font-weight: 500;
}

p a {
  text-decoration: none;
  color: #4285F4;
}

@media only screen and (min-width: 768px) {
  /* For Tablet: */
  input {
    width: 346px;
  }
}

@media only screen and (min-width: 1366px) {
  /* For Desktop: */
  input {
    width: 448px;
  }
  
  button.login-button {
    width: 206px;
  }

  form button:first-of-type {
    align-self: center;
  }
}